{% extends "base.html" %}

{% load url from future %}
{% load markup %}

{% block title %}All blog posts{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>Welcome to SimpleBlog</h1>
    <p>Welcome to this blog. The latest content is shown below.</p>
</div>
<div class="row">
    <div class="span9">
        {% for post in posts %}
        <div class="post-outline">
            <header>
            <h3><a href="{% url "post_view" post.id post.title|slugify %}">{{ post.title }}</a></h3>
                <small>Posted by <strong>{{ post.poster.username }}</strong> on <strong>{{ post.datetime_posted }}</strong></small>
            </header>
            {{ post.body|markdown }}
            <small>
                {% with num_comments=post.comments.count %}
                <a href="{% url "post_view" post.id post.title|slugify %}#comments">{{ num_comments }} {{ num_comments|pluralize:"comment,comments" }}</a>
                {% endwith %}
            </small>
        </div>
        {% if not forloop.last %}<hr />{% endif %}
        {% empty %}
        No posts to show.
        {% endfor %}
    </div>
    <div class="span3">
        <h3>Latest Comments</h3>
        {% for comment in comments %}
        <div class="bordered" style="overflow: auto">
            <strong><a href="{% url "post_view" comment.post.id comment.post.title|slugify %}#comments">{{ comment.post.title }}</a></strong>
            <blockquote style="margin-bottom: 0">{{ comment.body|markdown }}</blockquote>
            <div class="pull-right">by <strong>{% if comment.poster %}{{ comment.poster.username }}{% else %}anonymous{% endif %}</strong></div>
        </div>
        {% empty %}
        No comments to show.
        {% endfor %}
    </div>
</div>
{% endblock %}
